<mat-list>
	<mat-list-item routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><mat-icon>add_circle_outline</mat-icon>Nuevo juego</mat-list-item>
	<mat-list-item routerLink="/desafios-activos" routerLinkActive="active"><mat-icon>flash_on</mat-icon><span>Desafíos activos</span><span *ngIf="notifications != 0" color="warn" class="number">{{notifications}}</span></mat-list-item>
	<mat-list-item routerLink="/tableros" routerLinkActive="active"><mat-icon>layers</mat-icon>Tus Tableros</mat-list-item>
	<mat-list-item routerLink="/copas" routerLinkActive="active"><mat-icon>star</mat-icon>Copas</mat-list-item>
	<mat-list-item><mat-icon>access_time</mat-icon>Desafíos terminados</mat-list-item>
	<mat-list-item (click)="logout.emit()"><mat-icon>exit_to_app</mat-icon>Cerrar sesión</mat-list-item>
</mat-list>
