@import './vars';
.cells{
	box-sizing: border-box;
	width: $cellSize * 10;
	height: $cellSize * 10;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);
	&:not(.ships){
		background-image: url('/assets/imgs/background-1.jpg');
	}
	&.ships {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 8;
		game-ship {
			position: absolute;
		}
	}

}
