@import '../vars';
.ship {
	position: relative;
	box-sizing: border-box;
	overflow: hidden;
	&.active {
		z-index: 10;
	}
	&.animate {
		transition: all .2s;
	}
	&::before {
		content: '';
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
	}
	&.r-90::before {
		transform: rotate(90deg);
	}
	&.r-180::before {
		transform: rotate(180deg);
	}
	&.r-270::before {
		transform: rotate(270deg);
	}
	&.miner {
		height: $cellSize;
		width: $cellSize;
		&::before {
			width: $cellSize;
			height: $cellSize;
			background: url('/assets/imgs/ship-1.png') 0 0 no-repeat;
		}
	}
	&.explorer {
		height: $cellSize * 2;
		width: $cellSize;
		&::before {
			background: url('/assets/imgs/ship-2.png') 0 0 no-repeat;
		}
		&.r-90, &.r-270{
			width: $cellSize * 2;
			height: $cellSize;
			&::before {
				height: $cellSize * 2;
				width: $cellSize;
				top: -$cellSize2;
				left: $cellSize2;
			}
		}
	}
	&.assault {
		height: $cellSize * 3;
		width: $cellSize;
		&::before {
			background: url('/assets/imgs/ship-3.png') 0 0 no-repeat;
		}
		&.r-90, &.r-270{
			width: $cellSize * 3;
			height: $cellSize;
			&::before {
				height: $cellSize * 3;
				width: $cellSize;
				top: -$cellSize;
				left: $cellSize;
			}
		}
	}
	&.mothership {
		height: $cellSize * 4;
		width: $cellSize;
		&::before {
			background: url('/assets/imgs/ship-4.png') 0 0 no-repeat;
		}
		&.r-90, &.r-270{
			width: $cellSize * 4;
			height: $cellSize;
			&::before {
				height: $cellSize * 4;
				width: $cellSize;
				top: -($cellSize + $cellSize2);
				left: ($cellSize + $cellSize2);
			}
		}
	}
}
