<div class="home">
	<div class="user-name-form" *ngIf="player?.saved == false; else select">
		<form (ngSubmit)="savePlayer()">
			<div>
				<mat-form-field>
					<input matInput placeholder="Nombre del jugador" [formControl]="playerName">
				</mat-form-field>
				<button mat-raised-button color="primary">Guardar</button>
			</div>
		</form>
	</div>
	<ng-template #select>
		<mat-sidenav-container>
			<mat-sidenav mode="side" opened>
				<mat-list>
					<mat-list-item><mat-icon>flash_on</mat-icon>Desafíos activos</mat-list-item>
					<mat-list-item><mat-icon>layers</mat-icon>Tus Tableros</mat-list-item>
					<mat-list-item><mat-icon>star</mat-icon>Copas</mat-list-item>
					<mat-list-item><mat-icon>access_time</mat-icon>Juegos anteriores</mat-list-item>
				</mat-list>
			</mat-sidenav>
			<mat-sidenav-content>
				<div class="container">
					<h2 class="name">{{player.name}}</h2>
					<div class="modes">
						<button mat-raised-button color="primary">Modo<br>historia</button>
						<button mat-raised-button color="warn">Desafiar a<br>otro jugador</button>
					</div>
				</div>
			</mat-sidenav-content>
		</mat-sidenav-container>
	</ng-template>
</div>
