.home{
	width: 100%;
	.user-name-form {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		form {
			min-height: 300px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			p.hint {
				margin-bottom: 15px;
			}
			input {
				margin-left: 10px;
			}
			button {
				display: inline-block;
				margin-left: 5px;
			}
		}
	}
	mat-sidenav {
		display: none;
	}
	@media screen and (min-width: 768px){
		mat-sidenav {
			display: block;
		}
		mat-sidenav-container, mat-sidenav-content, mat-sidenav {
			height: calc(100vh - 64px);
		}
		mat-sidenav-container {
			.container {
				width: 80%;
				margin: auto;
				.name{
					text-align: center;
					padding: 30px;
				}
			}
		}
	}
}
