<div class="home">
	<div class="user-name-form" *ngIf="!player || player?.saved == false; else select">
		<form (ngSubmit)="savePlayer()" autocomplete="off">
			<div>
				<p *ngIf="register">
					<mat-form-field>
						<input matInput placeholder="Nombre del jugador" [formControl]="playerName" required>
						<mat-error *ngIf="playerName.hasError('required')">Este es un campo requerido</mat-error>
					</mat-form-field>
				</p>
				<p class="hint">
					<mat-form-field>
						<input matInput placeholder="Nombre de usuario" [formControl]="username" required>
						<mat-error *ngIf="username.hasError('required')">Este es un campo requerido</mat-error>
						<mat-error *ngIf="username.hasError('pattern')">No debe contener epacios o caracteres especiales</mat-error>
						<mat-error *ngIf="register && username.hasError('inUse')">Este nombre de usuario ya está en uso.</mat-error>
					</mat-form-field>
				</p>
				<p>
					<mat-form-field>
						<input matInput placeholder="Contraseña" type="password" [formControl]="password" required>
						<mat-error *ngIf="password.hasError('required')">Este es un campo requerido</mat-error>
						<mat-error *ngIf="password.hasError('minlength')">La contraseña debe tener al menos 6 caracteres</mat-error>
					</mat-form-field>
				</p>
				<p class="hint" *ngIf="register">
					<mat-form-field>
						<input autocomplete="off" matInput placeholder="Repetir Contraseña" type="password" [formControl]="repassword" required>
						<mat-error *ngIf="repassword.hasError('required')">Este es un campo requerido</mat-error>
						<mat-error *ngIf="repassword.hasError('equalTo')">Las contraseñas no coinciden</mat-error>
					</mat-form-field>
				</p>
				<button mat-raised-button color="primary">{{register?'Crear cuenta':'Ingresar'}}</button>
				<button type="button" mat-raised-button color="primary" *ngIf="!register" (click)="register = true">Crear cuenta</button>
				<button type="button" mat-raised-button color="primary" *ngIf="register" (click)="register = false">Volver</button>
			</div>
		</form>
	</div>
	<ng-template #select>
		<mat-sidenav-container>
			<mat-sidenav mode="side" opened>
				<app-nav notifications="{{notifications.total() | async}}" (logout)="logout()"></app-nav>
			</mat-sidenav>
			<mat-sidenav-content>
				<div class="container">
					<h2 class="name">{{player.name}}</h2>
					<router-outlet ></router-outlet>
				</div>
				<app-footer notifications="{{notifications.total() | async}}" (logout)="logout()"></app-footer>
			</mat-sidenav-content>
		</mat-sidenav-container>
	</ng-template>
</div>
