.board {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	.separator {
		width: 100%;
		height: 50px;
	}
	game-ship-board {
		position: relative;
	}
	button {
		margin: 10px;
	}
	@media only screen and (min-width: 768px) {
		& .separator {
			width: 15px;
		}
		flex-direction: row;
	}
}
